BASE    {{ ldap_host_base_dc }}
URI     ldap://{{ environment_ldap_fqdn }}
TLS_CACERT {{ ldap_host_ldap_directory.path }}/certs/cacert.pem
{# Turning this off breaks GSSAPI used with krb5 when rdns = false
...
What the hell does that mean for us? #}
SASL_NOCANON    on
