# {{ ansible_managed }}
[sssd]
config_file_version = 2
domains = {{ environment_domain }}
services = nss, pam, sudo
debug_level=6

[nss]
debug_level=6

[pam]
debug_level=6

[sudo]
debug_level=6

[domain/{{ environment_domain }}]
id_provider = ldap
auth_provider = ldap
ldap_schema = rfc2307bis
ldap_uri = ldap://{{ environment_ldap_fqdn }}
ldap_user_search_base = ou=people,{{ ldap_host_base_dc }}?subtree??ou=svcaccts,{{ ldap_host_base_dc }}?subtree?
ldap_sudo_search_base = ou=sudoers,{{ ldap_host_base_dc }}
ldap_group_search_base = ou=groups,{{ ldap_host_base_dc }}?subtree??ou=groups,ou={{ ansible_local.host_facts.app }},ou=applications,{{ ldap_host_base_dc }}?subtree?
access_provider = simple
{#
Users can only login if they are a member of the application admin group, network-wide sysadmin group, application
service account group, any of the officers, or the application login group. They are also let in if they are the csecs
account.

We can expand this later if we need to have finer-grained control. For instance, we can set appdbas to only be allowed
on the database servers, or appwebdevs to only be allowed on the UI/BL servers, etc. For the time being though, we don't
have enough real estate or participants to make that worth the administration.

Note that the application login group should not be the users of the application, but the users that are allowed to
login to the server, For instance, a jumphost should have users, but not all users should be admins.
#}
simple_allow_users = csecs
simple_allow_groups = sysadmins, officers, appadmins, appsvcaccts, apphostlogin
ldap_default_bind_dn = uid=sssdbind,ou=svcaccts,{{ ldap_host_base_dc }}
ldap_default_authtok = {{ ldap_host_sssdbind_authtok }}
debug_level=6
